.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #000000;
  justify-content: space-evenly;
  align-items: center;
  background-color: #111;
  /* position: absolute;
  bottom: 0; */
  z-index: 9999999;
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}
