.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #999;
  justify-content: space-evenly;
  align-items: center;
  background-color: #111;
  /* position: absolute;
  bottom: 0; */
  z-index: 9999999;
}
.footer>div:nth-child(1)>h3 {
  margin: 5px 0;
}
.footer>div:nth-child(2)>p {
  margin: 0;
  font-size: 0.8em;
  color: #999;
}
.footer .socialMedias {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.footer .socialMedias a {
  min-width: 30px;
  min-height: 30px;
  padding: 10px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .footer .socialMedias {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}
