@keyframes roundBefore {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0);
    }
}
@keyframes imgBefore {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.partOverview {
    margin: 0 10%;
    position: relative;
    height: 80vh;
}
.partOverview>section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.partOverview>section:nth-child(2) {
    align-items: flex-end;
    position: absolute;
    bottom: 20px;
    background: transparent;
}


.partOverview>section:nth-child(1) .partLink {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin: 5px;
}
.partOverview>section:nth-child(1) .partLink a {
    border: 1px solid white;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.partOverview>section:nth-child(1) .partLink a:hover {
    background-color: white;
    color: black;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.partOverview>section:nth-child(1) .partLink a:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    content: "";
    transform-origin: 10px 20px;
    background-color: rgba(0, 0, 0, 0.2);
    animation: roundBefore 0.5s infinite;
}


.partOverview>section:nth-child(2) .partLink {
    max-width: 25%;
}
.partOverview>section:nth-child(2) .partLink>div {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    margin: 5px;
}
.partOverview>section:nth-child(2) .partLink p {
    color: gray;
}
.partOverview>section:nth-child(2) .partLink a {
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.6em;
    padding: 5px;
}


.partOverview>section .partImg {
    width: 70%;
    height: 50vh;
}
.partOverview>section div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px 8px 8px 8px;
    cursor: url(../../../src/assets/img/icons/cursor-hand.png) 12 12, auto;
    transform-origin: 50% 0;
    transition: all 1s ease-in-out;
}
.partOverview>section div img.imgLeft {
    filter: blur(4px) grayscale(60%);
}
.partOverview>section div img.imgLeft:hover {
    filter: none;
    transform: translateY(-150px);
}
.partOverview>section div img.imgRight {
    animation: imgBefore 2s infinite ease-in-out;
}

@media (max-width: 1200px) {
    .partOverview {
        margin: 0 5%;
    }
}

@media (max-width: 825px) {
    .partOverview {
        position: initial;
        height: auto;
    }
    .partOverview>section {
        flex-direction: column;
        gap: 20px;
    }
    
    .partOverview>section:nth-child(2) {
        position: initial;
    }
    .partOverview>section:nth-child(2) .partLink {
        max-width: 100%;
    }
    .partOverview>section:nth-child(1) .partLink {
        justify-content: center;
    }
    .partOverview>section .partImg {
        width: 100%;
        height: auto;
    }
}